/* Base styles */

body {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
  background: #7df9ff;
  color:rgb(39.2%,58.4%,92.9%);
  font-family: 'Red Rose', cursive;
  border: 1rem solid #3b31ff;
  margin: 0;
}

.banner {
  background: url('../images/gardenbackground.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
}

.banner-text {
  display: inline-block;
  margin: auto;
  padding: 3rem;
  font-size: 3.5rem;
  width: auto;
  background: #3b31ff;
  color: #f9ff7d;
  border: 15px double #f9ff7d;
  background: rgba(255,105,180,.5);
}


  
  
  
  
