/* Base styles */

body {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
  background: #a9a9a9;
  color:rgb(39.2%,58.4%,92.9%);
  font-family: 'Red Rose', cursive;
  margin: 0;
}

.banner {
  background: url('../images/gardengate.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
}

.banner-text {
  display: inline-block;
  margin: auto;
  padding: 3rem;
  font-size: 3.5rem;
  width: auto;
  font-family: 'Red Rose', cursive;
  color:#edbc64;

.content {
  font-family: 'Red Rose', cursive;
  color: #95ed64;
  background: #9f95a9;
}
   
  
  
  
  
